.Navigation {
    display: inline-block;
    min-width: 100%;
}

.Navigation-group {
    @include clearfix;
    padding-left:24px;

}

.Navigation-Logo-Box {
  text-align:center;
  padding-top:24px;
  padding-bottom:48px;
}

.Navigation-Search-Box {
    width: 240px;
    height: 42px;
    padding: 8px;
    z-index: 101;
    text-align: center;
    position:relative;
    margin-bottom:24px;

    input {
      width: 85%;
      padding:8px;
      background-color: #dedede;
      border:none;

    }

    .search-box-icon {
      position:absolute;
      top:14px;
      right:29px;
    }
}

.Navigation-Expansion-Toggle {
    padding: 8px;
    z-index: 98;
    position:relative;
    margin-left:24px;

    input {
      width: 85%;
      padding:8px;
      background-color: #fff;
      border:none;

    }

    .search-box-icon {
      position:absolute;
      top:14px;
      right:29px;
    }
}

.is-closed {
  .Navigation-Logo-Box {
    display:none;
  }

  .Navigation-Search-Box {
    display:none;
  }

  .Navigation-group {
    display:none;
  }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-58px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.Navigation-Search-Suggestions {
  width:100%;
  z-index:501;

  .suggestion {
    width:85%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    border-left:1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom:1px solid #ccc;



    .suggestion-link {
      .suggestion-label {
        font-size:18px;
        font-weight:bold;
        padding:4px;
        color:#444;
      }

      .suggestion-description {
        font-size:12px;
        padding:4px;
        color:#444;
      }
    }

  }

  .suggestion:nth-child(even) {
    background-color: #ededed;
  }

  .suggestion:nth-child(odd) {
    background-color: #fff;
  }

  .suggestion:hover {
    background-color: #D4DAF6;
  }

}
