.Tree {
    white-space: nowrap;
}

.Tree-title {
    @include font(label);
    @include padding-inline(start, 1rem);
    margin-bottom: 0.5rem;
    color: $color-sidebar-heading;
}

.Tree-collection {
    &.is-closed {
        background-color: transparent;

        .Tree-collectionItems {
            display: none;
        }

        .Tree-collectionLabel {
            span::before {
                [dir="ltr"] & {
                    width:5px;
                    background-color:transparent;
                }
                [dir="rtl"] & {
                  width:5px;
                  background-color:transparent;
                }
            }
        }
    }
}

.Tree-items {
  margin-bottom:0px;
}

.Tree-collectionLabel {
    @include font(caption);
    padding-bottom:8px;
    padding-top:8px;
    margin-top:0px;
    margin-bottom:0px;

    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    color: $color-text;


    &:hover {
        color:#1e1e1e;
    }

    span {
        @include padding-inline(start, 0.75rem);
        @include margin-inline(start, -1.75rem);
        display: block;
        position: relative;
    }
}

.Tree-item {
    @include font(caption);
}

.Tree-entityLink {
    display: flex;
    align-items: center;
    padding-top:8px;
    padding-bottom:8px;


    text-decoration: none;

    &:hover {
        background-color: none;
    }

    .is-current & {
        background-color: none;
    }

    .Status {
        @include margin-inline(start, 0.25rem);
    }

    color:#1e1e1e;



}

.Tree {
  a:hover {
  color:#1e1e1e;
  }
}

.is-current {
  a::before {
      @include offset-inline(start);
      display: block;
      position: absolute;
      width: 2px;
      height: 18px;
      content: "";
      margin-left: 3px;
      background-color: #7DEAD7;
      margin-left: 24px;
  }
}

@for $i from 1 through 8 {
    .Tree-depth-#{$i} {
        $padLeft: ($i * 1rem);

        .Tree-collectionLabel,
        .Tree-entityLink {
            @include padding-inline(start, $padLeft);
        }
    }
}
